/* video {
  position: "absolute";
  width: "100%";
  height: "100%";
  object-fit: "cover";
  z-index: "-1";
} */

.logoText {
  display: block;
  background: white;
  position: relative;
  z-index: 1;
  font-size: 100px;
  bottom: 350px;
  width: 300px;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}